In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

## In this regression model, estimated salary is the output, and the remaining features are input

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data= data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [4]:
# Label encode "Gender"
label_encoder_gender= LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode "Geography"
oneHotencode_geo= OneHotEncoder()
geo_encoded= oneHotencode_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df= pd.DataFrame(geo_encoded, columns=oneHotencode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# COmbine the data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
## Split the data
X= data.drop('EstimatedSalary', axis=1)
y= data['EstimatedSalary']

X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [8]:
# Scaling 

scaler_reg=StandardScaler()
X_train=scaler_reg.fit_transform(X_train)
X_test= scaler_reg.transform(X_test)

In [9]:
# SAVE THE PICKLE FILES

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('oneHotencode_geo.pkl','wb') as file:
    pickle.dump(oneHotencode_geo, file)

with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler_reg, file)

ANN regression model implementation

In [10]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [11]:
# Build the model
model= Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for estimated salary
])
# In the output layer, no activation function is applies because
# there is already a default fucntion called linear activation function
# for regression problems. This means we will use the output as it is.

WARNING:tensorflow:From c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
# Compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Setup tensorboard and early stopping

log_dir= 'regressionlogs/fit/'+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_cbk= TensorBoard(log_dir=log_dir, histogram_freq=1)

early_stop_cbk=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [14]:
# Train model

history=model.fit(
    X_train, y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorboard_cbk, early_stop_cbk]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100370.0703 - mae: 100370.0703 - val_loss: 98491.5703 - val_mae: 98491.5703
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99537.0625 - mae: 99537.0625 - val_loss: 96798.6562 - val_mae: 96798.6562
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96567.4453 - mae: 96567.4453 - val_loss: 92428.4141 - val_mae: 92428.4141
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 90756.0078 - mae: 90756.0078 - val_loss: 85266.0312 - val_mae: 85266.0312
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 82412.9688 - mae: 82412.9688 - val_loss: 76192.0625 - val_mae: 76192.0625
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 72840.6562 - mae: 72840.6562 - val_loss: 67142.3203 - val_mae: 67142.3203
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 63922.1289 - mae: 63922.1289 - val_loss: 59622.4609 - val_mae: 59622.4609
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 57232.6602 - mae: 57232.6602 - val_loss: 54679.4062 - val_mae: 54679.4062
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 53268.2539 - mae: 53268.2539 - val_loss: 52175.7578 - val_mae: 52175.7578
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51400.1328 - mae: 51400.1328 - val_loss: 51324.3594 - val_mae: 51324.3594
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50689.3789 - mae: 50689.3789 - val_loss: 51055.4688 - val_mae: 51055.4688
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50409.7070 - mae: 50409.7070 - val_loss: 50952.4062 - val_mae: 50952.4062
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50288.4609 - mae: 50288.4609 - val_loss: 50879.4688 - val_mae: 50879.4688
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50210.3320 - mae: 50210.3320 - val_loss: 50822.1094 - val_mae: 50822.1094
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50151.4961 - mae: 50151.4961 - val_loss: 50772.5938 - val_mae: 50772.5938
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50099.3281 - mae: 50099.3281 - val_loss: 50720.9375 - val_mae: 50720.9375
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50052.6172 - mae: 50052.6172 - val_loss: 50687.0430 - val_mae: 50687.0430
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50013.0117 - mae: 50013.0117 - val_loss: 50649.2617 - val_mae: 50649.2617
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49970.6836 - mae: 49970.6836 - val_loss: 50619.6094 - val_mae: 50619.6094
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49938.2930 - mae: 49938.2930 - val_loss: 50592.0430 - val_mae: 50592.0430
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49906.4766 - mae: 49906.4766 - val_loss: 50559.5273 - val_mae: 50559.5273
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49871.6602 - mae: 49871.6602 - val_loss: 50536.4961 - val_mae: 50536.4961
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49844.4609 - mae: 49844.4609 - val_loss: 50517.8477 - val_mae: 50517.8477
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49814.8906 - mae: 49814.8906 - val_loss: 50497.2695 - val_mae: 50497.2695
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49790.6602 - mae: 49790.6602 - val_loss: 50480.8672 - val_mae: 50480.8672
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49771.3555 - mae: 49771.3555 - val_loss: 50459.7891 - val_mae: 50459.7891
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49748.8438 - mae: 49748.8438 - val_loss: 50448.1055 - val_mae: 50448.1055
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49727.6016 - mae: 49727.6016 - val_loss: 50433.9453 - val_mae: 50433.9453
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49706.9336 - mae: 49706.9336 - val_loss: 50422.2656 - val_mae: 50422.2656
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49690.4688 - mae: 49690.4688 - val_loss: 50413.7969 - val_mae: 50413.7969
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49671.9062 - mae: 49671.9062 - val_loss: 50414.8516 - val_mae: 50414.8516
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49658.2852 - mae: 49658.2852 - val_loss: 50397.6172 - val_mae: 50397.6172
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49645.1406 - mae: 49645.1406 - val_loss: 50397.4492 - val_mae: 50397.4492
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49629.1055 - mae: 49629.1055 - val_loss: 50390.4414 - val_mae: 50390.4414
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49616.0508 - mae: 49616.0508 - val_loss: 50398.4453 - val_mae: 50398.4453
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49603.7383 - mae: 49603.7383 - val_loss: 50376.5742 - val_mae: 50376.5742
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49593.9258 - mae: 49593.9258 - val_loss: 50364.0000 - val_mae: 50364.0000
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49587.4727 - mae: 49587.4727 - val_loss: 50369.2344 - val_mae: 50369.2344
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49574.4727 - mae: 49574.4727 - val_loss: 50378.5117 - val_mae: 50378.5117
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49565.0625 - mae: 49565.0625 - val_loss: 50369.0703 - val_mae: 50369.0703
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49561.3945 - mae: 49561.3945 - val_loss: 50383.8984 - val_mae: 50383.8984
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49550.3281 - mae: 49550.3281 - val_loss: 50364.4961 - val_mae: 50364.4961
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49539.5898 - mae: 49539.5898 - val_loss: 50353.8086 - val_mae: 50353.8086
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49533.3281 - mae: 49533.3281 - val_loss: 50359.0625 - val_mae: 50359.0625
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49526.4492 - mae: 49526.4492 - val_loss: 50361.9062 - val_mae: 50361.9062
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49517.8789 - mae: 49517.8789 - val_loss: 50367.7930 - val_mae: 50367.7930
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49510.2734 - mae: 49510.2734 - val_loss: 50373.0078 - val_mae: 50373.0078
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49504.4102 - mae: 49504.4102 - val_loss: 50367.3867 - val_mae: 50367.3867
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49497.8320 - mae: 49497.8320 - val_loss: 50366.3633 - val_mae: 50366.3633
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49489.1797 - mae: 49489.1797 - val_loss: 50361.8633 - val_mae: 50361.8633
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49483.8008 - mae: 49483.8008 - val_loss: 50375.5742 - val_mae: 50375.5742
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49478.9102 - mae: 49478.9102 - val_loss: 50369.9961 - val_mae: 50369.9961
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49472.9297 - mae: 49472.9297 - val_loss: 50365.6641 - val_mae: 50365.6641

In [15]:
%load_ext tensorboard

In [16]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6007 (pid 729536), started 3 days, 23:29:44 ago. (Use '!kill 729536' to kill it.)

In [17]:
## Evaluate the model
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f"Test MAE :{test_mae}")

63/63 [==============================] - 0s 1ms/step - loss: 50353.8086 - mae: 50353.8086
Test MAE :50353.80859375

In [18]:
# Save the regression model
model.save("Regression_model.h5")

c:\Users\aasth\UDEMY PROJECTS\GEN_AI_KRISHNAIK\ANN_ChurnPredictionn\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(